// PRIMARY NEXTFLOW.CONFIG

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false

	// INPUT/OUTPUT
	input = false
	output = "results"
	reference = false
	gff3 = false
	proteins = false

	// GENERAL PARAMS
	run_all = true
	qc = false
	genmap = false
	assembly = false
	mapping = false
	snpcalling = false

	// QC PARAMS
	run_fastqc = true
	run_trim = true
	run_pear = true

	// QC FASTQC PARAMS
	fastqc_threads = 4
	qc_fastqc_kmers = 7
	qc_fastqc_nogroup = false
	qc_fastqc_quiet = false

	// QC TRIM READS PARAMS
	trim_threads = 4
	qc_trim_adapter_file = "data/adapters/TruSeq3-PE-2.fa"
	qc_trim_use_adapter = true
	qc_clip_options = "2:30:10:2"
	qc_trim_options = "LEADING:20 TRAILING:20 SLIDINGWINDOW:4:15 AVGQUAL:20 MINLEN:50"

	// QC PEAR READS PARAMS
	pear_threads = 4
	qc_pear_options = "-p 0.01 -v 10 -m 999999 -n 50 -t 1 -q 0 -u 1 -g1 -s 2"

	// GENMAP PARAMS
	run_genmap = true
	genmap_threads = 8
	genmap_outputs = "-t -w -bg"
	genmap_kmers = 30
	genmap_errors = 2

	// ASSEMBLY PARAMS
	run_unicycler = true
	run_prokka = true

	// ASSEMBLY UNICYCLER PARAMS
	unicycler_threads = 8
	assembly_unicycler_mode = "normal"

	// ASSEMBLY PROKKA PARAMS
	prokka_threads = 8

	// MAPPING PARAMS
	run_breseq = true
	run_minimap2 = true
	run_bwa = true

	// MAPPING BRESEQ PARAMS
	breseq_threads = 8
	mapping_breseq_p = true
	mapping_breseq_options = "-m 20 -b 15"
	mapping_breseq_coverage = "--min-BQ 3 --min-MQ 10"

	// MAPPING MINIMAP2 PARAMS
	minimap2_threads = 8
	mapping_minimap2_options = "--sam-hit-only --secondary=yes -ax sr"
	mapping_minimap2_samblaster = true
	mapping_minimap2_coverage = "--min-BQ 3 --min-MQ 10"

	// MAPPING BWA PARAMS
	bwa_threads = 8
	mapping_bwa_options = "-M"
	mapping_bwa_samblaster = true
	mapping_bwa_coverage = "--min-BQ 3 --min-MQ 10"

	// SNPCALLING PARAMS
	run_freebayes = true

	// SNPCALLING FREEBAYES PARAMS
	freebayes_threads = 1
	snpcalling_freebayes_options = "--pooled-discrete --min-alternate-fraction 0.05 --min-alternate-count 2 --min-mapping-quality 20 --min-base-quality 15"

}

// NEXTFLOW PROFILES
profiles{
	// -profile cluster
	cluster {
		process.executer = 'slurm'
	}
}

// NEXTFLOW MANIFEST
manifest {
	homePage = "https://gitlab.gwdg.de/mpievolbio-it/snpless-nf"
	author = "Kristian Ullrich"
	description = "A Nextflow pipeline for time-course analysis with NGS whole-genome data."
	mainScript = "main.nf"
	version = "0.1"
	nextflowVersion = ">= 21.00.0"
}
